<!DOCTYPE html>
<html lang="eng" ng-app="LeftoversApp">
  <head>
    <meta charset="utf-8">
    <title>leftovers</title>
    <script src="/bower_components/angular/angular.min.js"></script>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="/bower_components/firebase/firebase.js"></script>
    <script src="/bower_components/angularfire/dist/angularfire.min.js"></script>
    <script src="app.module.js"></script>
    <script src="app.route.js"></script>
    <script src='components/signUp/facebookAuthController.js'></script>
    <!-- <script>
      // var Firebase = require("firebase");
      var myFirebaseRef = new Firebase("https://leftovers-app.firebaseio.com/");
    </script> -->
  </head>
  <body ng-controller="FacebookAuthController as facebookCtrl">
  <button class='btn btn-class=warning' id='signup' ng-click='login()'>Sign Up with Facebook</button>
  <button class='btn btn-class=error' id='logout' ng-click='logout()'>Logout</button>


  <div ng-if="authData.facebook" class="list card">
   <div class="item item-avatar">
     <img ng-src="{{authData.facebook.profileImageURL}}" alt="">
     <h2>{{authData.facebook.displayName}}</h2>
     <p>{{authData.facebook.username}}</p>
     <p>Facebook</p>
   </div>
 </div>

  </body>
</html>
