<!DOCTYPE html>
<html lang="eng" ng-app="LeftoversApp">
  <head>
    <meta charset="utf-8">
    <title>leftovers</title>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.min.js"></script>
    <script src="app.module.js"></script>
    <script src="app.route.js"></script>
    <script src='components/signUp/facebookAuthController.js'></script>
  </head>
  <body>
  <div ng-controller="FacebookAuthController as facebookCtrl">
    <button class='btn btn-class=warning' id='signup' ng-click='login()'>Sign Up with Facebook</button>
    <button class='btn btn-class=error' id='logout' ng-click='logout()'>Logout</button>
  </div>
  <div ng-controller="FacebookAuthController">
    <div ng-show="isLoggedIn === true">
      <div ng-include="'/components/signUp/facebookTestView.html'"></div>
    </div>
  </div>
  </body>
</html>
