@import url(https://fonts.googleapis.com/css?family=Oswald:300);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif);

#selected-fav .addFav #addFavBtn {
  visibility: hidden;
}

#selected-fav .ng-modal-dialog {
  font-family: 'Droid Serif', sans-serif;
  height: 600px;
  width: 350px;
  padding-top: 20px;
  padding-bottom: 50px;
}

#recipe-results {
  text-align: center;
  font-family: 'Droid Serif', sans-serif;
}

#recipe-container {
  max-height: 500px;
  border-bottom: solid 1px lightgray;
  margin: 0 auto;
}

.recipe-img-container img {
  object-fit: cover;
  max-height: 256px;
  min-width: auto;
}

.recipe-img-container {
  max-width: 100%
}

.recipe-title {
  font-family: 'Oswald', sans-serif;
  font-size: large;
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 5px;
}

.show-recipe {
  padding-top: 30px;
  padding-bottom: 40px
}

#show-recipe-button {
  font-family: helvetica, sans-serif;
  background-color: goldenrod;
  color: white
}
