.ng-modal-dialog #selected-recipe {
  height: 80%;
  overflow: scroll;
}

/*.selected-recipe {
    width: 400px;
    heifght: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}*/
