.search-container  {
  padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
  padding-bottom: 80px;
  text-align: center;
  background: url('./../../assets/img/food-background.jpg') no-repeat center center;
  background-size: cover;
}

.search-boxes {
  padding-top: 20px;
  width: 291px;
  margin: auto;
  max-width: 100%;
}

.go-div {
  padding-top: 10px;
  text-align: center;
}

#go-button {
  background-color: #7D8402;
  font-weight: bold;
  color: snow;
}

.ingredients-buttons {
  text-align: center;
}

.ingredient-buttons-row1 {
  padding-top: 10px
}

.ingredient-buttons-row2 {
  padding-top: 10px
}

#meat-button {
  background-color: ;
}

#veg-button {
  background-color: ;
}

#fruits-button {
  background-color: ;
}

#seafood-button {
  background-color: ;
}

#dairy-button {
  background-color: ;
}

#grains-button {
  background-color: ;
}

.meat-container {
  display: inline-block;
}

.veg-container {
  display: inline-block;
}


.fruits-container {
  display: inline-block;
}


.seafood-container {
  display: inline-block;
}


.dairy-container {
  display: inline-block;
}


.grains-container {
  display: inline-block;
}

.dietary-requirements {
  padding-top: 20px;
  text-align: center
}

.centre-button-spacing {
  margin-left: 4px !important;
  margin-right: 4px !important;
}

.btn-group:nth-child(2) {
  margin-left: 10px;
  background-color: red;
  margin-right: 10px;
}

.btn-group label {
  width: 94px;
  border-radius: 4px !important;
}
