.search-boxes {
  width: 20%;
  margin: auto;
}

.go-button {
  padding-top: 10px;
  text-align: center;
}

.search-container  {
  padding-top: 70px;  /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
}

.ingredients-buttons {
  text-align: center;
}

.ingredient-buttons-row1 {
  padding-top: 10px
}

.ingredient-buttons-row2 {
  padding-top: 10px
}
.meat-container {
  display: inline-block;
}

.veg-container {
  display: inline-block;
}

.fruits-container {
  display: inline-block;
}

.seafood-container {
  display: inline-block;
}

.dairy-container {
  display: inline-block;
}

.grains-container {
  display: inline-block;
}

.dietary-requirements {
  padding-top: 20px;
  text-align: center
}

#recipe-results {
  text-align: center;
}
