<form class="showFav" ng-submit="favesHash()" ng-click="hiddenFavDiv = !hiddenFavDiv">
  <button id="showFavBtn">Show my favorite recipes!</button>
</form>

<div class="FavRecipes" ng-show="hiddenFavDiv" ng-repeat="(key, value) in obj">


  <form class="getRecipe" ng-click="hiddenFavRecipeDiv = !hiddenFavRecipeDiv; getRecipe(value)">
    <button>{{ key }}</button>
  </form>

  <div class="selected-recipe" ng-show="hiddenFavRecipeDiv">
    <div ng-include="'components/search/recipeView.html'"></div>
  </div>
</div>
