<form class="showFav" ng-click="favesHash(); hiddenFavDiv = !hiddenFavDiv">
  <a id="showFavBtn">Show my favorite recipes</a>
</form>

<modal-dialog show="hiddenFavDiv" dialog-title='Favorites'>
  <!-- <button ng-click="yess = !yess"></button> -->

<div class="FavRecipes"   ng-repeat="(key, value) in obj">

  <form class="getRecipe" ng-click="getRecipe(value); hiddenFavRecipeDiv = !hiddenFavRecipeDiv;" >


  <a id='keyLink' >{{ key }}</a>
  </form>


  <form class="removeFav" ng-click="removeFavorite(value, key)">
    <button class="btn btn-danger btn-xs" id="removeFavBtn">Remove from favorites </button>
  </form>
<br>

<!-- <button ng-click="yess = !yess"></button> -->

  <div class="selected-recipe" ng-show="hiddenFavRecipeDiv">
    <div ng-include="'components/search/recipeView.html'"></div>
  </div>
</modal-dialog>

</div>
