<div class=view-container>

  <div class="view-image">
    <img ng-src="{{ recipe.ImageURL }}" />
  <div>

  <div class="recipe-content">
    <!-- <p ng-model="recipe.Title">{{ recipe.Title }}</p> -->
    Time it takes: {{ recipe.TotalMinutes }}mins
    <br>
    <p>Ingredients:</p>
      <br>
      <div class="ingredients" ng-model="ingredient.Name" ng-repeat="ingredient in recipeIngredients">
        {{ ingredient.DisplayQuantity }}
        {{ ingredient.Unit }}
        {{ ingredient.Name }}
      </div>
    <br>
    <p ng-model="recipe.Instructions">Instructions: {{ recipe.Instructions }}</p>
  </div>

</div>
