
<div class ='searchbox' ng-controller='SearchController as searchCtrl'>

  <div class = "ingredient-lists">

    <div class="meat-container">
      <button id="meat" ng-click="hiddenMeatDiv = !hiddenMeatDiv">
        Meat
      </button>
      <div class="meat" ng-repeat="meatType in meat" ng-show="hiddenMeatDiv">
        <input type="checkbox" checklist-model="getIngredients()" checklist-value="meatType" ng-change="check(meatType, checked)">
        {{ meatType }}
      </div>
    </div>

    <div class="veg-container">
      <button id="veg" ng-click="hiddenVegDiv = !hiddenVegDiv">
        Vegetables
      </button>
      <div class="veg" ng-repeat="vegType in veg" ng-show="hiddenVegDiv">
        <input type="checkbox" checklist-model="getIngredients()" checklist-value="vegType" ng-change="check(vegType, checked)">
        {{ vegType }}
      </div>
    </div>

    <div class="fruits-container">
      <button id="veg" ng-click="hiddenFruitDiv = !hiddenFruitDiv">
        Fruits
      </button>
      <div class="fruit" ng-repeat="fruitType in fruits" ng-show="hiddenFruitDiv">
        <input type="checkbox" checklist-model="getIngredients()" checklist-value="fruitType" ng-change="check(fruitType, checked)">
        {{ fruitType }}
      </div>
    </div>

    <div class="seafood-container">
      <button id="seafood" ng-click="hiddenSeafoodDiv = !hiddenSeafoodDiv">
        Seafood
      </button>
      <div class="seafood" ng-repeat="seafoodType in seafood" ng-show="hiddenSeafoodDiv">
        <input type="checkbox" checklist-model="getIngredients()" checklist-value="seafoodType" ng-change="check(seafoodType, checked)">
        {{ seafoodType }}
      </div>
    </div>

    <div class="dairy-container">
      <button id="dairy" ng-click="hiddenDairyDiv = !hiddenDairyDiv">
        Dairy
      </button>
      <div class="dairy" ng-repeat="dairyType in dairy" ng-show="hiddenDairyDiv">
        <input type="checkbox" checklist-model="getIngredients()" checklist-value="dairyType" ng-change="check(dairyType, checked)">
        {{ dairyType }}
      </div>
    </div>

    <div class="grains-container">
      <button id="grains" ng-click="hiddenGrainsDiv = !hiddenGrainsDiv">
        Grains
      </button>
      <div class="grains" ng-repeat="grainsType in grains" ng-show="hiddenGrainsDiv">
        <input type="checkbox" checklist-model="getIngredients()" checklist-value="grainsType" ng-change="check(grainsType, checked)">
        {{ grainsType }}
      </div>
    </div>

  </div>

  <form class="newIngredient" ng-submit="addIngredient(ingredient, excluded)">
    Something that doesn't agree with you? You can exclude up to three ingredients here!
    <input type="text" ng-model="excluded" placeholder="Ingredients to exclude">
    <br>
    <input type="text" ng-model="ingredient" placeholder="What's in your fridge?">
    <button>Search Recipes</button>
  </form>

    <br>
    <form>
      <label>
        <input type="radio" ng-model="diet.option" value="vegetarian" ng-change="getDietID()">
        Vegetarian
      </label><br/>
      <label>
        <input type="radio" ng-model="diet.option" value="gluten-free" ng-change="getDietID()">
        Gluten-free
      </label><br/>
      <label>
        <input type="radio" ng-model="diet.option" value="dairy-free" ng-change="getDietID()">
        Dairy-free
      </label><br/>
      <span ng-click="clearDiet()"> Clear dietary option </span>
      <!-- <tt>option = {{diet.option}}</tt><br/> -->
    </form>


    <div class="recipe-container" ng-repeat="post in posts">
      <img ng-src="{{ post.ImageURL120 }}" />{{ post.Title }}

      <p>{{ post.Cuisine }}</p>
      <p id="rating">{{ post.StarRating | number:1 }}</p>
      <p id="recipe-id" ng-model="post.RecipeID">{{ post.RecipeID }}</p>
      <br>

      <form class="getRecipe" ng-submit="getRecipe(post.RecipeID)" ng-click="hiddenRecipeDiv = !hiddenRecipeDiv">
        <button>Show/hide this recipe!</button>
      </form>

      <div class="selected-recipe" ng-show="hiddenRecipeDiv">
        <img ng-src="{{ recipe.ImageURL }}" />
        <p ng-model="recipe.Title">{{ recipe.Title }}</p>
        Time it takes: {{ recipe.TotalMinutes }}mins
        <p>Ingredients:</p>
        <div class="ingredients" ng-model="ingredient.Name" ng-repeat="ingredient in recipeIngredients">
        {{ ingredient.DisplayQuantity }}
        {{ ingredient.Unit }}
        {{ ingredient.Name }}
        </div>
        <br>
        <p ng-model="recipe.Instructions">Instructions: {{ recipe.Instructions }}</p>

        <form class="addFav" ng-submit="addFavorite(recipe.Title, post.RecipeID)">
          <button style="color:red" id="addFavBtn">Add to favorites</button>
        </form>

      </div>
    </div>

  <form class="showFav" ng-submit="favesHash()" ng-click="hiddenFavDiv = !hiddenFavDiv">
    <button id="showFavBtn">Show my favorite recipes!</button>
  </form>

  <div class="FavRecipes" ng-show="hiddenFavDiv" ng-repeat="(key, value) in obj">


    <form class="getRecipe" ng-click="hiddenFavRecipeDiv = !hiddenFavRecipeDiv; getRecipe(value)">
      <button>{{ key }}</button>
    </form>

    <div class="selected-recipe" ng-show="hiddenFavRecipeDiv">
      <img ng-src="{{ recipe.ImageURL }}" />
      <p ng-model="recipe.Title">{{ recipe.Title }}</p>
      Time it takes: {{ recipe.TotalMinutes }}mins
      <p>Ingredients:</p>
      <div class="ingredients" ng-model="ingredient.Name" ng-repeat="ingredient in recipeIngredients">
      {{ ingredient.DisplayQuantity }}
      {{ ingredient.Unit }}
      {{ ingredient.Name }}
      </div>
      <br>
      <p ng-model="recipe.Instructions">Instructions: {{ recipe.Instructions }}</p>
    </div>

  </div>
</div>
