<div class='search' ng-controller='SearchController as searchCtrl'>

  <div class="search-container">

    <div class="search-boxes">
      <div class="form-group">
        <form class="newIngredient" ng-submit="addIngredient(ingredient, excluded)">
          <input type="text" class="form-control" ng-model="ingredient" placeholder="What's in your fridge?">
          <input type="text" class="form-control" ng-model="excluded" placeholder="Ingredients to exclude">
          <div class="go-button">
            <button>Go</button>
         </div>
        </form>
      </div>
    </div>

    <div class="ingredients-buttons">
      <div class="ingredient-buttons-row1">

        <div class="meat-container">
          <button id="meat" class="btn btn-default btn-md" ng-click="hiddenMeatDiv = !hiddenMeatDiv">
            <img src='./../../assets/img/steak(1).png'>
            <br>Meat
          </button>
          <div class="meat" ng-repeat="meatType in meat" ng-show="hiddenMeatDiv">
            <input type="checkbox" checklist-model="getIngredients()" checklist-value="meatType" ng-change="check(meatType, checked)">
            {{ meatType }}
          </div>
        </div>

        <div class="veg-container">
          <button id="veg" class="btn btn-default btn-md" ng-click="hiddenVegDiv = !hiddenVegDiv">
              <img src='./../../assets/img/steak(1).png'>
              <br>Vegetables
            </button>
            <div class="veg" ng-repeat="vegType in veg" ng-show="hiddenVegDiv">
              <input type="checkbox" checklist-model="getIngredients()" checklist-value="vegType" ng-change="check(vegType, checked)">
                  {{ vegType }}
            </div>
          </div>

        <div class="fruits-container">
          <button id="veg" class="btn btn-default btn-md" ng-click="hiddenFruitDiv = !hiddenFruitDiv">
            <img src='./../../assets/img/steak(1).png'>
            <br>Fruits
          </button>
          <div class="fruit" ng-repeat="fruitType in fruits" ng-show="hiddenFruitDiv">
            <input type="checkbox" checklist-model="getIngredients()" checklist-value="fruitType" ng-change="check(fruitType, checked)">
            {{ fruitType }}
          </div>
        </div>
      </div>

      <div class="ingredient-buttons-row2">

        <div class="seafood-container">
          <button id="seafood" class="btn btn-default btn-md" ng-click="hiddenSeafoodDiv = !hiddenSeafoodDiv">
            <img src='./../../assets/img/steak(1).png'>
            <br>Seafood
          </button>
          <div class="seafood" ng-repeat="seafoodType in seafood" ng-show="hiddenSeafoodDiv">
            <input type="checkbox" checklist-model="getIngredients()" checklist-value="seafoodType" ng-change="check(seafoodType, checked)">
            {{ seafoodType }}
          </div>
        </div>

        <div class="dairy-container">
          <button id="dairy" class="btn btn-default btn-md" ng-click="hiddenDairyDiv = !hiddenDairyDiv">
            <img src='./../../assets/img/steak(1).png'>
            <br>Dairy
          </button>
          <div class="dairy" ng-repeat="dairyType in dairy" ng-show="hiddenDairyDiv">
            <input type="checkbox" checklist-model="getIngredients()" checklist-value="dairyType" ng-change="check(dairyType, checked)">
            {{ dairyType }}
          </div>
        </div>

        <div class="grains-container">
          <button id="grains" class="btn btn-default btn-md" ng-click="hiddenGrainsDiv = !hiddenGrainsDiv">
            <img src='./../../assets/img/steak(1).png'>
            <br>Grains
          </button>
          <div class="grains" ng-repeat="grainsType in grains" ng-show="hiddenGrainsDiv">
            <input type="checkbox" checklist-model="getIngredients()" checklist-value="grainsType" ng-change="check(grainsType, checked)">
            {{ grainsType }}
          </div>
        </div>
      </div>
    </div>

    <div class="dietary-requirements">
      <div class="btn-group">
          <label class="btn btn-default" ng-model="diet.option" uib-btn-radio="'vegetarian'" uncheckable>Vegetarian</label>
          <label class="btn btn-default" ng-model="diet.option" uib-btn-radio="'gluten-free'" uncheckable>Gluten-free</label>
          <label class="btn btn-default" ng-model="diet.option" uib-btn-radio="'dairy-free'" uncheckable>Dairy-free</label>
      </div>
    </div>
  </div>

  <div id="recipe-results">
    <div class="recipe-container" ng-repeat="post in posts">
      <br>
      <img ng-src="{{ post.ImageURL120 }}" />
      <p>{{ post.Title }}</p>
      <p>{{ post.Cuisine }}</p>
      <p id="rating">{{ post.StarRating | number:1 }}</p>
      <p id="recipe-id" ng-model="post.RecipeID">{{ post.RecipeID }}</p>
      <br>

      <form class="getRecipe" ng-submit="getRecipe(post.RecipeID)" ng-click="hiddenRecipeDiv = !hiddenRecipeDiv">
        <button>Show/hide this recipe!</button>
      </form>

      <div class="selected-recipe" ng-show="hiddenRecipeDiv">
        <img ng-src="{{ recipe.ImageURL }}" />
        <p ng-model="recipe.Title">{{ recipe.Title }}</p>
        Time it takes: {{ recipe.TotalMinutes }}mins
        <p>Ingredients:</p>
        <div class="ingredients" ng-model="ingredient.Name" ng-repeat="ingredient in recipeIngredients">
        {{ ingredient.DisplayQuantity }}
        {{ ingredient.Unit }}
        {{ ingredient.Name }}
        </div>
        <br>
        <p ng-model="recipe.Instructions">Instructions: {{ recipe.Instructions }}</p>
        <!-- <button ng-click="addFavorite(recipe.Title, ingredient.Name, recipe.Instructions)">Add to favorites</button> -->
      </form>

        <form class="addFav" ng-submit="addFavorite(recipe.Title)">
          <button style="color:red" id="addFavBtn">Add to favorites</button>
        </form>

      </div>
    </div>
  </div>
</div>
