<div class='search' ng-controller='SearchController as searchCtrl'>

  <div class="search-container">
    <div class="search-boxes">
        <form class="newIngredient" ng-submit="addIngredient(ingredient, excluded)">
          <input type="text" class="form-control" ng-model="ingredient" placeholder="What's in your fridge?">
          <input type="text" class="form-control" ng-model="excluded" placeholder="Ingredients to exclude">
          <div class="go-div">
            <button id="go-button" class="btn btn-default btn-md btn-block">Go!</button>
         </div>
        </form>
      </div>

    <div class="ingredients-buttons">
      <div class="ingredient-buttons-row1">

        <div class="meat-container">

          <button id="meat-button" class="btn btn-default btn-md" ng-click="hiddenMeatDiv = !hiddenMeatDiv">
            <img src='./../../assets/img/64 x 64-27 drumstick.png'>
            <br>Meat
          </button>

          <modal-dialog show='hiddenMeatDiv' dialog-title='Meat'>
            <div class="meat" ng-repeat="meatType in meat">
              <input type="checkbox" checklist-model="getIngredients()" checklist-value="meatType" ng-change="check(meatType, checked)">
              {{ meatType }}
            </div>
          </modal-dialog>
        </div>

        <div class="veg-container">
          <button id="veg-button" class="btn btn-default btn-md" ng-click="hiddenVegDiv = !hiddenVegDiv">
              <img src='./../../assets/img/64 x 64-14 broccoli.png'>
              <br>Vegetables
            </button>
            <modal-dialog show='hiddenVegDiv' dialog-title='Vegetables'>
              <div class="veg" ng-repeat="vegType in veg">
                <input type="checkbox" checklist-model="getIngredients()" checklist-value="vegType" ng-change="check(vegType, checked)">
                    {{ vegType }}
              </div>
            </modal-dialog>
          </div>

        <div class="fruits-container">
          <button id="fruits-button" class="btn btn-default btn-md" ng-click="hiddenFruitDiv = !hiddenFruitDiv">
            <img src='./../../assets/img/64 x 64-09 watermelon.png'>
            <br>Fruits
          </button>

          <modal-dialog show='hiddenFruitDiv' dialog-title='Fruit'>
            <div class="fruit" ng-repeat="fruitType in fruits">
              <input type="checkbox" checklist-model="getIngredients()" checklist-value="fruitType" ng-change="check(fruitType, checked)">
              {{ fruitType }}
            </div>
          </modal-dialog>

        </div>
      </div>

      <div class="ingredient-buttons-row2">

        <div class="seafood-container">
          <button id="seafood-button" class="btn btn-default btn-md" ng-click="hiddenSeafoodDiv = !hiddenSeafoodDiv">
            <img src='./../../assets/img/64 x 64-44 fish.png'>
            <br>Seafood
          </button>

          <modal-dialog show='hiddenSeafoodDiv' dialog-title='Seafood'>
            <div class="seafood" ng-repeat="seafoodType in seafood">
              <input type="checkbox" checklist-model="getIngredients()" checklist-value="seafoodType" ng-change="check(seafoodType, checked)">
              {{ seafoodType }}
            </div>
          </modal-dialog>
        </div>

        <div class="dairy-container">
          <button id="dairy-button" class="btn btn-default btn-md" ng-click="hiddenDairyDiv = !hiddenDairyDiv">
            <img src='./../../assets/img/64 x 64-39 cheese.png'>
            <br>Dairy
          </button>

          <modal-dialog show='hiddenDairyDiv' dialog-title='Dairy'>
            <div class="dairy" ng-repeat="dairyType in dairy">
              <input type="checkbox" checklist-model="getIngredients()" checklist-value="dairyType" ng-change="check(dairyType, checked)">
              {{ dairyType }}
            </div>
          </modal-dialog>
        </div>

        <div class="grains-container">
          <button id="grains-button" class="btn btn-default btn-md" ng-click="hiddenGrainsDiv = !hiddenGrainsDiv">
            <img src='./../../assets/img/64 x 64-25 grains.png'>
            <br>Grains
          </button>

          <modal-dialog show='hiddenGrainsDiv' dialog-title='Grains'>
            <div class="grains" ng-repeat="grainsType in grains">
              <input type="checkbox" checklist-model="getIngredients()" checklist-value="grainsType" ng-change="check(grainsType, checked)">
              {{ grainsType }}
            </div>
          </modal-dialog>
          </div>
      </div>
    </div>

    <div class="dietary-requirements">
      <div class="btn-group">
          <label class="btn btn-default" ng-model="diet.option" uib-btn-radio="'vegetarian'" uncheckable>Vegetarian</label>
          <label class="btn btn-default" ng-model="diet.option" uib-btn-radio="'gluten-free'" uncheckable>Gluten-free</label>
          <label class="btn btn-default" ng-model="diet.option" uib-btn-radio="'dairy-free'" uncheckable>Dairy-free</label>
      </div>
    </div>
  </div>

</div>
